@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="/css//site.css" />
    <title>Heaven's Slice'</title>
</head>
<body>
    <header>
        <div class="container d-flex justify-content-between align-items-center">
            <h1 class="fs-4">Heaven's Slice <i class="fa-solid fa-pizza-slice"></i></h1>
            <nav>
                <ul class="d-flex align-items-center py-2 my-2">
                    <li class="m-1 p-1">
                        <a href="/Home">Home</a>
                    </li>
                    <li class="m-1 p-1">
                        <a href="/Home/UserIndex">Our Products</a>
                    </li>
                    <li class="m-1 p-1">
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container py-4">
            <div class="container d-flex flex-wrap justify-content-between py-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                <img src="./img/Margherita-9920.webp" alt="">
                            </td>
                            <td>Margherita</td>
                            <td>The most famous pizza which also represents best italy through its colors. The red tomato sauce, the green basil, the white cheese.</td>
                            <td>€ 5</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>
                                <img src="./img/4 formaggi.jfif" alt="">
                            </td>
                            <td>4 Formaggi</td>
                            <td>This pizza is the go to for cheese lovers. This one is a white pizza meaning there is no tomato sauce but insteade we have a blend of four different cheeses.</td>
                            <td>€ 6</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>
                                <img src="./img/capri.jfif" alt="">
                            </td>
                            <td>Capricciosa</td>
                            <td>An interesting pizza would be the Capricciosa. Ours is made with base of tomate sauce with different toppings such as ham, eggs, olives, artichokes and sausage.</td>
                            <td>€ 6</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>
                                <img src="./img/fp.jfif" alt="">
                            </td>
                            <td>Funghi e Prosciutto</td>
                            <td>The pizzaiolo's personal favourite, this pizza is simple yet really tasty. Tomate sauce based, it topped with ham and fresh mushrooms.</td>
                            <td>€ 7</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>
                                <img src="./img/mari.jfif" alt="">
                            </td>
                            <td>Marinara</td>
                            <td>Perhaps the most simple pizza we have, the marinara is made with tomate sauce, garlic oil and a touch of origan.</td>
                            <td>€ 4.5</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>
                                <img src="./img/sea_earth.jfif" alt="">
                            </td>
                            <td>Mare e Monti</td>
                            <td>As its name implies (Sea and Earth), this pizza encapsulates the goodness that the land and the sea can offer. This transaltes into tomatoes, mushrooms, salmon, rucola</td>
                            <td>€ 9</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
          
    </main>

    <footer>
        <div class="container py-2 my-2 d-flex justify-content-center">
            <span>&#169; Bagnarola Roy inc</span>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</body>
</html>
